### Question 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [3]:
sum(i for i in range(1000) if (i % 3 == 0) or (i % 5 == 0))

233168

In [ ]:
#check:
check = [i for i in range(1000) if (i % 3 == 0) or (i % 5 == 0)]

check

In [ ]:
sum(check)

### Question 2 

#### Yes, the most famous / ubiqutous whiteboarding question of them all

Write a short program that prints each number from 1 to 100 on a new line. 

For each multiple of 3, print "Fizz" instead of the number. 

For each multiple of 5, print "Buzz" instead of the number. 

For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number.

In [5]:
for i in range(1,101): 
    if i % 3 == 0 and i % 5 ==0:
        print('Fizzbuzz')
    elif i % 5 == 0:
        print('Buzz')
    elif i % 3== 0: 
        print('Fizz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizzbuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizzbuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizzbuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizzbuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### Question 3

Write a function to check whether a particular word is a palindrome or not.

In [1]:
#first attempt

def is_palindrome(word):
    
    letters = []
    
    for i in word:
        letters.append(i)
    
    reversed_letters = []
    
    for l in letters:
        reversed_letters.append(letters.pop())
    
    reversed_word = sum(reversed_letters)
    
    if word == reversed_word:
        print(f"{word} is a palindrome!")
        
    else: 
        print(f"{word} is not a palindrome!")

In [3]:
#second attempt

def is_palindrome(word):
    letters = []
    for i in word:
        letters.append(i)
    
    if letters[0] + letters[1] == letters[3] + letters[2]:
        print(True)
    else:
        print(False)

In [4]:
is_palindrome('baby')

False

In [5]:
is_palindrome('alla')

True

In [23]:
#answer

def is_palindrome(word):
    
    letters = []
    for i in word:
        letters.append(i)
        
    reversed_list = letters[::-1]  
    
    if reversed_list == word:
        print('yay')
        
    else:
        print('boo')
        
    return

### Question 4

Write a query that returns the name of each department and a count of the number of employees in each. Below are the tables' schema:

EMPLOYEES containing: Emp_ID (Primary key) and Emp_Name

EMPLOYEE_DEPT containing: Emp_ID (Foreign key) and Dept_ID (Foreign key)

DEPTS containing: Dept_ID (Primary key) and Dept_Name

In [ ]:
SELECT * FROM DEPTS
JOIN DEPTS WITH EPLOYEE_DEPT ON EMPLOYEE_DEPT.DEPT_ID, DEPTS.DEPT_ID
COUNT()

In [ ]:
Select Dept_name, count(Emp_ID)
From DEPTS as d
Join EMPLOYEE_DEPT as ed
    ON d.DEPT_ED = ed.Dept_ID

In [ ]:
### Question 4

Turn an integer to a roman numeral:

        val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4,
            1
            ]
        syb = [
            "M", "CM", "D", "CD",
            "C", "XC", "L", "XL",
            "X", "IX", "V", "IV",
            "I"
            ]

In [15]:


val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4,
            1
            ]
syb = [
            "M", "CM", "D", "CD",
            "C", "XC", "L", "XL",
            "X", "IX", "V", "IV",
            "I"
            ]

#James work
def roman_convert(n, syb=syb, val=val):
    output_num=''
    while n>0:
        while n>=val[0]:
            output_num=output_num+syb[0]
            n=n-val[0]
        val=val[1:]
        syb=syb[1:]
    return(output_num)

#more pythonic
def int_to_Roman(self, num):
    roman_num = ''
    i = 0
    while  num > 0:
        for _ in range(num // val[i]):
            roman_num += syb[i]
            num -= val[i]
        i += 1
    return roman_num

In [19]:
roman_convert(879)
output_num = 'D', n=379 -> 'DC',n=279 ->'DCC', n=179

'DCCCLXXIX'

### Question 5

Consider that vowels in the alphabet are a, e, i, o, u and y. Function score_words takes a list of lowercase words as an argument and returns a score as follows:

    The score of a single word is 2 if the word contains an even number of vowels.
    
    Otherwise, the score of this word is 1.
    
    The score for the whole list of words is the sum of scores of all words in the list.