### Question 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

### Question 2

#### Yes, the most famous / ubiqutous whiteboarding question of them all

Write a short program that prints each number from 1 to 100 on a new line. 

For each multiple of 3, print "Fizz" instead of the number. 

For each multiple of 5, print "Buzz" instead of the number. 

For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number.

### Question 3

Write a function to check whether a particular word is a palindrome

### Question 4

Turn an integer to a roman numeral:

        val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4,
            1
            ]
        syb = [
            "M", "CM", "D", "CD",
            "C", "XC", "L", "XL",
            "X", "IX", "V", "IV",
            "I"
            ]

### Question 5

Consider that vowels in the alphabet are a, e, i, o, u and y. Function score_words takes a list of lowercase words as an argument and returns a score as follows:

    The score of a single word is 2 if the word contains an even number of vowels.
    
    Otherwise, the score of this word is 1.
    
    The score for the whole list of words is the sum of scores of all words in the list./

### Question 6

The prime factors of 13195 are 5, 7, 13 and 29. 

What is the largest prime factor of the number 600851475143?

### Question 7

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.

### Question 8

Given a string containing digits from 2-9 inclusive, return all possible letter combinations that the number could represent using phone layout. A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

 phones = {
        "2": "abc",
        "3": "def",
        "4": "ghi",
        "5": "jkl",
        "6": "mno",
        "7": "pqrs",
        "8": "tuv",
        "9": "wxyz",
    }
    

#### Example 

Input: 45
        
        
Output: gj gk gl hj hk hl ij ik il

### Question 9

  Let’s say you have two SQL tables: authors and books. The authors dataset has 1M+ rows; here’s the first six rows:

|Author_name|Book_name|
| :---     |   :--- |
| author_1 | book_1 |
| author_1 | book_2 | 
| author_2 | book_3 | 
| author_2 | book_4 | 
| author_2 | book_5 | 
| author_3 | book_6 |


The books dataset also has 1M+ rows and here’s the first six:

|Book_name|Sold_copies|
| :---   |   :--- |
| book_1 | 1000  |
| book_2 | 1500  |
| book_3 | 34000 |
| book_4 | 29000 |
| book_5 | 40000 |
| book_6 | 4400  |
 
Create an SQL query that shows the TOP 3 authors who sold the most books in total.